header {
/*background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);*/
max-height: 480px;
overflow: hidden;
}

nav {
  position: relative;
  z-index: 50;
}

#bg_gradient {
  position: absolute;
  object-fit: fill;
  top: 0;
  left: 0;
  z-index: -100;
  max-height: 480px;
  width: 100%;
  overflow: hidden;
}

.header_headline {
  position: relative;
  z-index: 10;
  font-size: 2.4em;
  color: #FFFFFF;
  line-height: 1em;
  margin-top: 110px;
}

.header_caption {
  position: relative;
  z-index: 10;
  font-size: 1.4em;
  font-weight: 220;
  color: #FFFFFF;
  line-height: 1.2em;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
}

.header_pic {
  position: relative;
  z-index: 0;
  margin-top: -300px;

}

.btn_header {
  position: relative;
  z-index: 50;
  font-size: 18px;
  color: #1F487E;
  background-color: #FFFFFF;
  padding: 5px 20px;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.btn_header:hover {

  font-size: 18px;
  color: #FFFFFF;
  background-color: transparent;
  padding: 5px 30px;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}


@media (max-width: 1200px) {
    header {
    height: 450px;
  }

  #bg_gradient {
    height: 450px;
  }
  .header_headline {
    font-size: 2.2em;
    color: #FFFFFF;
    line-height: 1em;
    margin-top: 100px;
  }

  .header_pic {
    margin-top: -270px;
  }

}

@media (max-width: 992px) {
    header {
    height: 700px;
  }

  #bg_gradient {
    height: 800px;
  }
  .header_headline {
    font-size: 2.2em;
    color: #FFFFFF;
    line-height: 1em;
    margin-top: 20px;
    text-align: center;
  }

  .header_caption {
    text-align: center;
  }

  .btn_header {
    margin-left: 265px;
  }

  .header_pic {
    margin-top: 30px;
    margin-left: -120px;
  }
}

/**/
@media (max-width: 768px) {
  header {
    height: 450px;
  }

  #bg_gradient {
    height: 450px;
  }

  .jumbotron {
    margin-top: 0px;
  }

  .btn_header {
    position: relative;
    text-align: center;
    margin-left: 180px;
  }

  .header_headline {
    position: relative;
    text-align: center;
    top: 1px;
  }

  .header_caption {
    position: relative;
    text-align: center;
  }

  .header_pic {
    margin-top: 20px;
    margin-left: -85px;
  }
}

@media (max-width: 576px) {
  .header_headline {
    font-size: 2rem;
  }

  .header_caption {
    font-size: 1.3rem;
  }

  .header_pic {
    margin-left: -95px;
  }
}


/*smartphone (iphone 6plus) optimisation*/
@media (max-width: 420px) {
  header {
    height: 430px;
  }

  #bg_gradient {
    height: 430px;
  }

  .header_headline {
    font-size: 1.6rem;
  }

  .header_caption {
    font-size: 1.1rem;
  }

  .header_pic {
    margin-left: -67px;
  }

  .btn_header {
    margin-left: 117px;
  }
}

/*smartphone (iphone 6) optimisation*/
@media (max-width: 380px) {
  header {
    height: 375px;
  }

  #bg_gradient {
   height: 375px;
  }

  .header_headline {
    font-size: 1.5em;
  }

  .header_caption {
    font-size: 0.9em;
  }

  .btn_header {
    margin-left: 95px;
  }

  .header_pic {
    margin-left: -60px;
  }

}



















